<div class="jumbotron" style="margin-top:100px;">
    <center>
        <h3>AngularEMS</h3>
        <p class="lead">
            (ASP.NET Web API- 2.0 + Angular 5)
            <br />
            <a href="https://shibutamang.github.io/AngularEMS/">https://shibutamang.github.io/AngularEMS</a>
        </p>
    </center>
</div>
